<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptohunt 2.0</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
</head>
<body class="bg-black text-center text-white">
    
    <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
        <img src="trinity.png" class="m-3" height="100px" width="100px" alt="" srcset="">
        <h1>TRINITY CYBER FORUM</h1>
        <h2 class="text-warning">CRYPTOHUNT 2.0</h2>
        <% if(messages.bigMessage) { %>
            <%= messages.bigMessage %> 
        <% } %>
        <div class="text-info mt-3">Follow us on Instagram - <a target="_blank" href="https://www.instagram.com/ipecTrinity">@ipecTrinity</a></div>
        <div class="text-info">Follow us on Linkedin - <a target="_blank" href="https://www.linkedin.com/company/14576675/admin/">@ipecTrinity</a></div>
        <div class="text-info">Follow us on Twitter - <a target="_blank" href="https://twitter.com/ipectrinity">@ipecTrinity</a></div>
    </div>
</body>
</html>