<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Capture the Flag</title>
    <link rel="stylesheet" href="login.css" />
  </head>
  <body class="">
    <div class="text-center">
      <img src="https://techathlon21.netlify.app/images/ipec.png" height="120px" alt="">
      <img src="logotechathlon.png" style="filter:contrast();" alt="" height="120px"> <br>
      <h1 class="text-large">Capture the <span class="accent-text">Flag</span></h1>
    </div>
    
    <form method="POST" action="/login">
      <% if (messages.error) { %> 
        <div class="accent-bg text-medium text-center">
          <%= messages.error %> 
        </div>
      <% }%>
      <div class="form-item">
        <label>Team Name</label>
        <div class="input-wrapper">
          <input
            type="text"
            id="teamName"
            name="teamName"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
            data-lpignore="true"
          />
        </div>
      </div>
      <div class="form-item">
        <label>Password</label>
        <div class="input-wrapper">
          <input
            type="password"
            id="password"
            name="password"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
            data-lpignore="true"
          />
          <button type="button" id="eyeball">
            <div class="eye"></div>
          </button>
          <div id="beam"></div>
        </div>
      </div>
      <div class="text-sm">
        Want to see something cool? Click on the Eye.
      </div>
      <button class="btn-submit" id="submit">Sign in</button>
    </form>
    <script src="main.js"></script>
  </body>
</html>
