<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptohunt 2.0</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
</head>
<body class="bg-black text-center text-white">
    
    <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
        <img src="trinity.png" class="m-3" height="100px" width="100px" alt="" srcset="">
        <h1>TRINITY CYBER FORUM</h1>
        <h2 class="text-warning">CRYPTOHUNT 2.0 Login</h2>
        <div class="login-box d-flex flex-column justify-content-center align-items-center">
          <%if(messages.error){%>
            <h6 class="text-danger mb-3 text-center"><%=messages.error%></h6>
            <% } %>
          <form action="/login" method="POST">
            <input type="text" name="teamName" class="answer-field form-control" placeholder="Team Name">
            <br>
            <input type="password" name="password" class="answer-field form-control" placeholder="password">
            <br>
            <button type="submit" class="btn answer-btn form-control">SUBMIT</button>
          </form>
        </div>
    </div>
</body>
</html>