:root {
    --bgColor: white;
    --inputColor: black;
    --outlineColor: dodgerblue;
    --beamColor: #DA2940;
    --spacer: 1rem;
  }

  body.dark-theme {
    --bgColor: black;
    --inputColor: white;
    color: white;
    --outlineColor: var(--beamColor);
  }

  label,
  input,
  button {
    font-size: 1.5rem;
    font-family: monospace;
    color: var(--inputColor);
  }

  .btn-submit{
    width: 100%;
  }

  label:focus,
  input:focus,
  button:focus {
    outline: 3px solid var(--outlineColor);
    outline-offset: 2px;
  }
  label::-moz-focus-inner,
  input::-moz-focus-inner,
  button::-moz-focus-inner {
    border: none;
  }
  label[id=password],
  input[id=password],
  button[id=password] {
    color: black;
  }
  
  button {
    border: none;
  }
  
  [id=submit] {
    cursor: pointer;
    margin: calc(var(--spacer) * 2) 0 0 2px;
    padding: 0.75rem 1.25rem;
    color: var(--bgColor);
    background-color: var(--inputColor);
    box-shadow: 4px 4px 0 rgba(245, 69, 92, 0.5)
  }
  [id=submit]:active {
    transform: translateY(1px);
  }
  
  .input-wrapper {
    position: relative;
  }
  
  input {
    padding: 0.75rem 4rem 0.75rem 0.75rem;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 0;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px black, inset 6px 6px 0 rgba(245, 69, 92, 0.5), 3px 3px 0 rgba(245, 69, 92, 0.5);
    -webkit-appearance: none;
  }
  input:focus {
    outline-offset: 1px;
  }
  .dark-theme input {
    box-shadow: inset 0 0 0 2px black;
    border: 2px dashed white;
  }
  .dark-theme input:focus {
    outline: none;
    border-color: var(--beamColor);
  }